.bluecontainer {
  background-color: aquamarine;
}

.githublink {
  height: 50px;
  width: 50px;
  align-items: center;
  padding-right: 10px;
  margin-left: 10px; 
  /* float: right; */
}

body {
  background-color: lightsteelblue;
}

.myWhite {
  color: white;
}

.linkedin {
  height: 70px;
  width: 70px;
  /* float: right; */
}

footer {
  min-height: 100px;
}