.bluecontainer {
  background-color: aquamarine;
}

.githublink {
  height: 50px;
  width: 50px;
  align-items: center;
  padding-right: 10px;
}

body {
  background-color: lightsteelblue;
}

.myWhite {
  color: white;
}

.linkedin {
  height: 65px;
  width: 65px;
}